services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/tmp/docker.sock:ro"
    networks:
      - exposed
    labels:
      glance.parent: portainer
      glance.name: Nginx Proxy
      glance.icon: si:nginx

  portainer:
    image: portainer/portainer-ee:lts
    command: -H unix:///var/run/docker.sock
    restart: always
    environment:
      - VIRTUAL_HOST=portainer.filipekiss.dev
      - VIRTUAL_PORT=9000
    ports:
      - 8000:8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - exposed
    labels:
      glance.id: portainer
      glance.name: Portainer
      glance.icon: si:portainer
      glance.url: https://portainer.filipekiss.dev
      glance.same-tab: true

  watchtower:
    image: containrrr/watchtower
    environment:
      - WATCHTOWER_CLEANUP=true
    restart: always
    networks:
        - exposed
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      glance.parent: portainer
      glance.name: Watchtower
      glance.icon: si:watchtower


volumes:
  portainer_data:

networks:
  exposed:
    external: true
